{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "cwd": "babelrc",
        "extensions": [".js", ".json", ".ts", ".tsx"],
        "alias": {
          "components": "./src/components",
          "screens": "./src/screens",
          "api": "./src/api",
          "hooks": "./src/hooks",
          "services": "./src/services"
        }
      }
    ]
  ]
}
