@import './theme.scss';

:root {
  --primaryColor: #{$primaryColor};
  --white: #{$white};
  --backgroundColor: #{$backgroundColor};
  --iconColor: #{$iconColor};

  --spacing: #{$spacing};
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: var(--backgroundColor);
  height: 100%;
  overflow: hidden;
  touch-action: pan-x pan-y;

  #__next {
    height: 100%;
  }
}

p,
button {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
