@import './theme.scss';

:root {
  --primaryColor: #{$primaryColor};
  --primaryColorDark: #{$primaryColorDark};
  --white: #{$white};
  --backgroundColor: #{$backgroundColor};
  --iconColor: #{$iconColor};

  --blue100: #{$blue100};

  --spacing: #{$spacing};
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: var(--backgroundColor);
  height: 100%;
  overflow: hidden;
  touch-action: pan-x pan-y;

  #__next {
    height: 100%;
  }
}

p,
button,
input {
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
