$primaryColor: #2d2d2d;
$primaryColorDark: darken($primaryColor, 40%);
$white: #fff;
$backgroundColor: #e5e5e5;
$iconColor: grey;
$blue100: #138eff;
$spacing: 8;

:export {
  primaryColor: $primaryColor;
  white: $white;
  backgroundColor: $backgroundColor;
  iconColor: $iconColor;
  spacing: $spacing;
}
