@import '../styles/helpers';

.loader,
.loader:after {
  border-radius: 50%;
  width: spacing(5);
  height: spacing(5);
}
.loader {
  margin: 60px auto;
  border-top: spacing(0.5) solid rgba(blue, 0.1);
  border-right: spacing(0.5) solid rgba(blue, 0.1);
  border-bottom: spacing(0.5) solid rgba(blue, 0.1);
  border-left: spacing(0.5) solid var(--primaryColor);
  animation: loadAnimation 1.1s infinite linear;
}

@keyframes loadAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
