@import '../../../styles/helpers';

.root {
  display: flex;
  position: relative;
  max-width: 144px;
  border: 1px solid transparent;
  border-radius: 2px;

  &:hover {
    border: 1px solid var(--backgroundColor);
  }

  &:focus-within {
    border: 1px solid var(--blue100);
  }
}

.root.withTrailingInput {
  &:hover,
  &:focus-within {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 96px;
      width: 1px;
      background-color: var(--backgroundColor);
    }
  }
}

.input {
  max-width: 96px;
  padding: spacing(1, 1);
  padding-left: spacing(4);
  outline: none;
  font-size: 11px;
}

.trailingInput {
  max-width: 48px;
  padding: spacing(1, 1);
  outline: none;
  font-size: 11px;
}

.leadingChild {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: spacing(1);
}
